.App {
   padding: 3%;
  text-align: center;
  background-size: cover;
  /*background-size: 100%;*/
  background: black url("../images/BlackTextureBackground.jpg") repeat fixed center;
  /*background: black url("../images/recipesbg.jpg") no-repeat scroll top;*/
  height: 100%;
}

.appContent{
  padding-bottom: 80vh;
  overflow:hidden;
}

@media only screen and (min-width: 800px) {
  .appContent{
    /*background-color: whitesmoke;*/
    /*background-image: url("../images/AppBackground.jpg");*/
    padding-bottom: 20vh;
  }
}

.appName{
  font-family: Avenir;
  font-size: 2rem;
  width: 100%;
  /*padding: 30px 0;*/
  text-align: center;
  /*background: #33cccc;*/
  background: transparent;
  color:wheat;
}

.logo{
  width: 50px;
  height: 50px;
}
.pageBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1rem;
  overflow: hidden;
  /*background:#004d4d;*/
  /*background: #33cccc;*/
  padding: 2px 0;
  color:black;
  /*margin-bottom: 2em;*/
  align-items: center;
}

.bannerItem:hover{
  color: #3DC795;
  box-shadow: 0 -2px 0 0 #3DC795 inset;
  -webkit-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
}


.linkBanner {
  padding: 8px;
  color: whitesmoke;
  text-decoration: none;
  border: solid white;
}

.appFooter{
font-family: Avenir;
  color: white;
}
