.App {
  padding: 3%;
  text-align: center;
  background-color: antiquewhite;
}


@media only screen and (min-width: 1000px) {
  .App{
    background-color: whitesmoke;
    background-image: url("../images/AppBackground.jpg");
    background-size: cover;
  }


}
.appHeader{
  font-family: Avenir;
  font-size: 6vw;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: #33cccc;
  color: white;
}

.pageBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 4vw;
  overflow: hidden;
  background: #33cccc;
  padding: 10px 0;
  color: white;
}


.linkBanner {
  padding: 8px;
  color: white;
}

.linkBanner:hover{
  background-color: rgba(0,0,0,0.4);
}
