.favoritesSection{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
    backdrop-filter: blur(20px);
    color: wheat;


}

.favoritesDashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favoritesCard {
  transform-origin:200% center;
    position:relative;
    animation:rotate 3s linear infinite;
}

.favoritesCard:hover{
    background-color: rgba(51,204,204,0.4); /* Fallback color */
    /*background-color: rgba(,0,0, 0.4); !* Black w/opacity/see-through *!*/
}

.favoriteRecipeImage{
    width: 80%;
    height: auto;
    border-radius: 4%;
}

.favoritesCard .iconFavoriteCard{
    position: absolute;
    top: 2%;
    right: 5%;
    max-height: 8%;
    width: auto;
    border-radius: 35%;
}

.iconFavoriteCard:hover{
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.favoriteRecipeName:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.favoriteRecipeName{

}
