
/*@media only screen and (min-width: 1000px) {*/
/*    .homePage{*/
/*        background-color: whitesmoke;*/
/*        background-image: url("../images/AppBackground.jpg");*/
/*        background-size: cover;*/
/*    }*/

/*}*/


/*.homeHeader{*/
/*    color: white;*/
/*    font-size: 3vw;*/
/*    backdrop-filter: blur(5pxclea);*/
/*}*/
.homePageLink{
    text-decoration: none;
}

.card{
    padding: 1%;
    font-size: 1rem;
    color:black;
    font-weight: 400;
}

/*.cardLink{*/
/*    padding: 8px;*/
/*    color: black;*/
/*}*/

.homePageCards{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
