

/*.ingredientsSection{*/
/*    backdrop-filter: blur(4px);*/
/*}*/

.ingredientsHeader{
    color: white;
    font-size: calc(15px + 0.390625vw);
    font-family: Avenir;
}
.ingredientsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: rgba(255,255,255,0.2);*/

}



.instructionsList{
    padding-left: 5%;
    padding-right: 8%;
    text-align: justify;
    color: white;
    /*background-color: azure;*/
    padding-top: 1%;
    font-size: calc(15px + 0.390625vw);
}
.instructionsHeader{
    color: white;
    text-align: center;
    /*font-size: calc(15px + 0.390625vw);*/
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}


/*.recipeImageFooter{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*   margin-bottom: 3%;*/
/*    width: 40%;*/
/*    height: auto;*/
/*    border-radius: 4%;*/
/*}*/

.ingredientImage{
    width: 100%;
}

.randomRecipeHeader{
    color: white;
    font-size: 3vw;
    backdrop-filter: blur(5px);
}

.recipeHeading {
    position:relative;
    font-size:xx-large;
    /*background-color: rgba(255,255,255,0.2);*/
}

.recipeImage{
    max-width: 50%;
    max-height: 20%;
    object-fit: cover;
    padding: 1%;
}

.iconFavorite{
    position: absolute;
    top: 5%;
    padding:2px;
    right: 10%;
    max-height: calc(20px + 0.390625vw);
    width: auto;
    border-radius: 35%;
    background-color: rgba(255,255,255, 0.4);
    /*background-color: #3DC795;*/
}
.nextIcon{
    position: absolute;
    bottom: 50%;
    right: 10%;
    max-height: calc(20px + 0.390625vw);
    width: auto;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.4);
}

.iconFavorite:hover{
    background-color: white; /* Black w/opacity/see-through */
}

.nextIcon:hover{
    background-color: white; /* Fallback color */
}

.randomRecipe{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.instructions{
    margin-bottom: 2%;
}

.recipeSection{
    display: flex;
    flex-direction: column;
}


/*.details {*/
/*    user-select: none;*/
/*}*/

/*.expandIcon {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    transition: all 0.3s;*/
/*    margin-left: auto;*/
/*}*/

/*.summary {*/
/*    display: flex;*/
/*    cursor: pointer;*/
/*}*/

/*.ingredientsCollapsible::-webkit-details-marker {*/
/*    display: none;*/
/*}*/
/*.ingredientsCollapsible{*/
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background-color: rgba(255,255,255,0.2);*/
/*}*/


.ingredientListToggleCheck { display: none; }
.wrap-collapsible { padding: 1rem }
.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    /*background: #0069ff;*/
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}
.lbl-toggle:hover { color: #FFF; }
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}
.ingredientListToggleCheck:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); }
/*.collapsible-content { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out;padding-bottom: 1rem; }*/
.collapsible-content{display:none}
.ingredientListToggleCheck:checked + .lbl-toggle + .collapsible-content {display: inherit;transition: .25s ease-in-out }
.ingredientListToggleCheck:checked+.lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

