.randomRecipeHeader{
    color: white;
    font-size: 3vw;
    backdrop-filter: blur(5px);
}

.ingredientsSection{
    backdrop-filter: blur(4px);
}

.ingredientsHeader{
    color: white;
    font-size: 2vw;
    font-family: Avenir;
    background-color: rgba(51,204,204,0.6);
}
.ingredientsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.ingredientAmount{
    align-content: end;
}

.ingredientItem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
    padding: 1%;
    background-color: azure;
    border-radius: 8%;
}

.instructionsList{
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
    background-color: azure;
    padding-top: 1%;
}
.instructionsHeader{
    text-align: center;
}



.recipeImageFooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 3%;
    width: 40%;
    height: auto;
    border-radius: 4%;
}

.ingredientImage{
    width: 100%;
}

.recipeHeading {
    position:relative;
    color: white;
    border-radius: 4%;
    font-size:xx-large;
}

.recipeImage{
    width: 100%;
    max-height: 20%;

}
@media only screen and (min-width: 1000px) {
    .recipeImage{
        display: inherit;
        width: 80%;
        height: auto;
    }
    .recipeHeading{
        display: flex;
    }

}

.recipeName {
    font-family: Avenir;
    font-size: 2vw;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(51,204,204,0.6);

}

.iconFavorite{
    position: absolute;
    top: 12%;
    right: 25%;
    max-height: 8%;
    width: auto;
    border-radius: 35%;
    background-color: white;
}
.nextIcon{
    position: absolute;
    bottom: 45%;
    right: 25%;
    max-height: 8%;
    width: auto;
    border-radius: 50%;
    background-color: white;
}

.iconFavorite:hover{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.nextIcon:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.randomRecipe{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.instructions{
    margin-bottom: 2%;
}
/*.recipeName{*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0, 0.4); !* Black w/opacity/see-through *!*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    border: 3px solid #f1f1f1;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 2;*/
/*    width: 80%;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

