
.welcomeRecipeSection{
    color: black;
}

.welcomeRecipeHeading{
    font-weight: 800;
    color: darkred;
    padding-top: 4%;
}


.welcomeRecipeImage{
    width: 15rem;
    height:auto;
    padding: 1%;
    /*margin-left: 1%;*/
    float: left;
}

.recipeSummary{
    font-size: calc(10px + 0.390625vw);
    font-family: Avenir;
    text-align: justify;
    color: black;
}

.recipeSummary:first-child:first-letter {
    font-size: calc(60px + 0.75vw);
    line-height: 40px;
    color: indianred;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
    font-family: Sansita One;
}
